@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom variables */
:root {
    /*  Colors */
    /*  Primary */
    --cl-DarkViolet: hsl(256, 26%, 20%);
    --cl-GrayishBlue: hsl(216, 30%, 68%);
    /*  Neutral */
    --cl-VeryDarkViolet: hsl(270, 9%, 17%);
    --cl-DarkGrayishViolet: hsl(273, 4%, 51%);
    --cl-VeryLightGray: hsl(0, 0%, 98%);
}

/* global css */
html {
    font-size: 16px;
}

h1,
h2,
h3 {

    font-family: 'DM Serif Display', serif;
}

h4,
p,
button,
ul,
a,
li {
    font-family: 'Karla', sans-serif;

}

/* nav */
.hamburger {
    width: 1.9rem;
    height: 1.9rem;
    position: relative;
    padding: 1.2rem;

}

.hamburger .bar {
    position: absolute;
    width: 1.4rem;
    height: .2rem;
    border-radius: .5rem;
    transition: all 300ms ease-in;
    opacity: 1;
}

.bar1 {
    top: 0;
    left: 50%;
    transform: translate(-50%, 300%);
    transform-origin: 5%;
}

.bar2,
.bar3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bar3 {
    right: 50%;
    visibility: hidden;
}

.bar4 {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -300%);
    /* transform-origin: 5%; */
}

.checkbox:checked+label .bar {
    width: 2rem;
}

.checkbox:checked+label>.hamburger>.bar1 {
    transform: rotate(45deg) translate(-10%, 455%);
    left: 50%;
}

.checkbox:checked+label>.hamburger>.bar3 {
    transform: rotate(45deg);
    opacity: 0;
}

.checkbox:checked+label>.hamburger>.bar2 {
    transform: rotate(-45deg)translate(-50%, -160%);
    top: 25%;
    opacity: 0;
}

.checkbox:checked+label>.hamburger>.bar4 {
    transform: rotate(-45deg)translate(70%, -70%);
    left: -27%;
}

/* aside */
aside {
    padding-top: 8rem;
    background: url('../images/bg-pattern-mobile-nav.svg') bottom right 50% /100% no-repeat;

    background-color: var(--cl-VeryDarkViolet);
}

/* section */
section {
    width: min(90vw, 1140px);
    margin: 10rem auto;
}

.section-2 {
    background: url('../images/bg-pattern-how-we-work-mobile.svg') top right/50% no-repeat;
    background-color: var(--cl-DarkViolet);
}

/* footer */
footer {
    background: url('../images/bg-pattern-footer-mobile.svg') top left /100% no-repeat;
    background-color: var(--cl-VeryLightGray);
}

.footer-container {
    width: min(90vw, 1140px);
    margin: 0 auto;
}

/* queris */
@media (min-width:768px) {

    .nav-content,
    .header-text {
        width: min(90vw, 1100px);
    }

    header {
        height: 30rem;
    }

    .section-2 {
        background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
    }

    footer {
        background-image: url('../images/bg-pattern-footer-desktop.svg');
    }
}

@media (min-width:1024px) {
    header {

        height: 40rem;
    }

    .section-2 {
        background-size: 50%;
    }


    footer {
        background-size: 36%;
    }
}